@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    @apply text-xl font-bold text-ctp-text;
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

main {
    @apply flex flex-col justify-center items-center p-6 select-none bg-ctp-base transition-colors duration-500 ease-in;
}

.App {
    @apply grid overflow-hidden min-h-screen;
}

.calculator {
    @apply rounded-3xl border-2 border-ctp-lavender bg-ctp-crust p-4 shadow-xl shadow-ctp-overlay1 w-max h-max transition-colors duration-300 ease-in z-20;
}

.input-keys {
    @apply grid grid-rows-5 grid-cols-4 grid-flow-col m-1;
}

.digit-keys {
    @apply grid grid-cols-3 row-span-4 col-span-3;
}

.operator-container {
    @apply grid grid-cols-4 row-span-1 col-span-4;
}

.plus-equals-container {
    @apply grid grid-cols-1 row-span-4 col-span-1 col-start-4 row-start-2;
}

.theme-switcher-button {
    @apply m-1 bg-ctp-surface2 p-2 rounded-lg shadow-md text-ctp-text hover:opacity-70 active:shadow-md active:scale-110 transition-colors duration-500 ease-in-out;
}

.history {
    @apply flex flex-col justify-center items-start p-6 transition-colors duration-500 ease-in absolute top-0 left-0 text-ctp-text text-xl z-10 bg-ctp-base w-screen;
}

@media (max-width: 640px) {
    .history {
        @apply left-0 w-full top-[80vh];
    }

    .historytitle {
        @apply w-full flex justify-center;
    }
}

.historytext {
    @apply text-ctp-text text-sm;
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}